[Desktop Entry]
Version=1.0
Type=Application
Name=Zathura-Fullscreen
Comment=A minimalistic document viewer
Exec=zathura --mode fullscreen %f
Terminal=false
Categories=Office;Viewer;
Keywords=PDF;PS;PostScript;DjVU;document;presentation;
