export SHELL=/usr/bin/bash
[ -f /usr/share/git/completion/git-prompt.sh ] && . /usr/share/git/completion/git-prompt.sh
[ -f /usr/share/ppz/bash.functions  ] && . /usr/share/ppz/bash.functions
[ -a /usr/bin/Xorg ] && . /usr/share/ppz/bash.functions.xorg
set_proper_histfile
am_root && {
    /usr/bin/integrity.ppz
    [ -x /usr/bin/integrity.linode ] && /usr/bin/integrity.linode
}
GOODPATH=$(readlink -e ~/bin):/usr/bin
for NEWDIR in $(in_2_but_not_in_1 "$GOODPATH" "$PATH"); do case $NEWDIR in
   /opt/java/jre/bin|\
   /opt/qt/bin|\
   /usr/lib/qt4/bin|\
   /usr/share/java/apache-ant/bin|\
   /usr/lib/jvm/java-8-openjdk/jre/bin|\
   /opt/opencascade/bin|\
   /usr/bin/core_perl|\
   /usr/bin/site_perl|\
   /usr/bin/vendor_perl)            GOODPATH=$GOODPATH:$NEWDIR;;
   /usr/local/bin|\
   /usr/local/sbin)                 : ;; # we don't want these
   *)                               echo weird path: $NEWDIR;;
esac; done
has_hardstatus
PS1="$(appropriate_ps1)"
__expand_tilde_by_ref() { sleep 0; }
_expand() { sleep 0; }
[ -a /snowball ] && alias pacman='pacman --cachedir /snowball/pkgcache'
alias bc='bc -lq /etc/bcrc' #BC_ENV_ARGS=/etc/bcrc
alias column='column -c $COLUMNS'
alias cp='cp -i'
alias feh='feh --no-screen-clip'
alias gi='git remote show | column; git branch --all --list --column=dense --no-merged; git status && glog -n 3'
alias grep='grep -i --color=auto'
alias grex='grep -iEvr '"'"'^[[:space:]]*(#|;[^,]|//|$)'"'"
alias handbrake=HandBrakeCLI
alias hb=handbrake
alias ix.io="curl --url http://ix.io -F login=\\<$HOME/.config/ix.io/login -F token=\\<$HOME/.config/ix.io/token -F id:1=\\<$HOME/.config/ix.io/id -F f:1=\\<-"
alias lf='ls -AF --color=auto'
alias ls='ls -A --color=auto'
alias mv='mv -i'
alias   pine='alpine -P /usr/local/lib/pine.conf -d0'
alias alpine='alpine -P /usr/local/lib/pine.conf -d0'
alias rm='rm --one-file-system -i'
alias rsync_root='rsync -aAXDxhP --stats --inplace'
alias ssh-local='ssh -S none -o HostName=127.0.0.1 -o ProxyCommand=none -o CheckHostIP=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
alias tig='tig --all'
alias wfm="find \$(manpath | tr : ' ') | grep"
alias zgrep='zgrep -i --color=auto'
bind '"\e[A"':history-search-backward
bind '"\e[B"':history-search-forward
eval "`dircolors -b`"
export PATH=${GOODPATH}
export GPG_TTY=$(tty)
export GIT_PS1_SHOWDIRTYSTATE=yes
export GIT_PS1_SHOWSTASHSTATE=yes
export GIT_PS1_SHOWUNTRACKEDFILES=yes
export GIT_PS1_SHOWUPSTREAM=auto
export HISTCONTROL=ignoredups #$HISTCONTROL${HISTCONTROL+,}ignoredups
export HISTSIZE=100000
export HISTIGNORE="&"
export HISTFILESIZE=999999999999
#export all_proxy=http://127.0.0.1:8118
#export ALL_PROXY=http://127.0.0.1:8118
#export ftp_proxy=http://127.0.0.1:8118
#export FTP_PROXY=http://127.0.0.1:8118
#export HTTP_PROXY=http://127.0.0.1:8118
#export http_proxy=http://127.0.0.1:8118
#export HTTPS_PROXY=http://127.0.0.1:8118
#export https_proxy=http://127.0.0.1:8118
export EDITOR=emacs
export IGNORE_CC_MISMATCH=1
export LANG=en_US.UTF-8
export MAILCHECK=-1
export VISUAL=emacs
#export GRE_HOME=/tmp
export PROMPT_COMMAND='history -a'
export TSOCKS_CONFFILE="$HOME"/.config/tsocks.conf
export XAUTHORITY=/tmp/.Xauthority.$USER
export XDG_CONFIG_HOME=~/.config
export RXVT_SOCKET=/tmp/.rxvt-unicode.socket.$USER.$EUID
mesg n
set completion-ignore-case On
set completion-query-items 150
set page-completions Off
set print-completions-horizontally On
set -o noclobber
set +H
shopt -s histappend
shopt -s checkwinsize
stty stop undef
stty start undef
stty -ixon -ixoff
complete -f -X '!*.@(sqlite|db)' sqlite3
complete -f emacs rsync mv cp rm mc scp diff ls sed mpv tail find cmp
complete -f scp mkdir sshfs cat sqlite3 zip unzip useradd fusermount
complete -f head md5sum sed
[ "$BASH" ] && [ -f ~/.bashrc ] && . ~/.bashrc
