[Unit]
Description=Proterozoic Integrity
Wants=network.target
After=network.target
Before=iptables.service ip6tables.service sshd.service base.target

[Service]
Type=oneshot
RestrictAddressFamilies=~AF_PACKET
ExecStart=/usr/bin/integrity.ppz

[Install]
WantedBy=base.target
