[Unit]
Description=Keep-Net-Up

[Service]
Restart=always
ExecStart=/usr/bin/keep-net-up --loop --lock --quiet

[Install]
WantedBy=network-online.target
