[Unit]
Description=Keep-Net-Up
Wants=network.target
Before=network.target
Conflicts=network@.service dhcpcd@.service

[Service]
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true
ExecStart=/usr/bin/keep-net-up
ExecStop=/usr/bin/dhcpcd -k
ExecStopPost=/usr/bin/ip route flush default

[Install]
WantedBy=network.target
