[Unit]
Description=Static Network
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Conflicts=dhcpcd@%i.service
ConditionPathExists=/etc/conf.d/network.%i

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/network.%i
ExecStart=/usr/bin/ip link set dev %i up
ExecStart=/usr/bin/ip addr add ${address}/${netmask} broadcast ${broadcast} dev %i
ExecStart=/usr/bin/ip route add default via ${gateway}
ExecStart=/usr/bin/ip-alias %i $aliases
ExecStart=/usr/bin/bash -c "echo $'# Set by systemd network@%i.service\n${resolv}' >| /etc/resolv.conf"

ExecStop=/usr/bin/bash -c "echo '# %i went down' >| /etc/resolv.conf"
ExecStop=/usr/bin/ip addr flush dev %i
ExecStop=/usr/bin/ip link set dev %i down

[Install]
WantedBy=network.target
