[Unit]
Description=ssh -R as user
After=network.target

[Service]
User=%i
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true
ExecStart=/usr/bin/sshr
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
