[Unit]
Conflicts=keep-net-up.service
After=keep-net-up.service
Before=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf

[Install]
WantedBy=systemd-networkd.service
