[Unit]
Description=Transmission-Daemon as user
#RequiresMountsFor=$HOMEDIR/.config/transmission-daemon/ $DATADIR

[Service]
User=%i
Nice=19
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true
IOSchedulingClass=idle
Environment = \
   TRANSMISSION_HOME=%h \
   TSOCKS_CONFFILE=%h/.config/tsocks.conf
ExecStart=/usr/bin/tsocks /usr/bin/transmission-daemon -g %h/.config/transmission-daemon -f
ExecStop=/usr/bin/transmission-remote --exit

[Install]
WantedBy=multi-user.target
