[Unit]
Description=Transmission-Daemon as user
#RequiresMountsFor=$HOMEDIR/.config/transmission-daemon/ $DATADIR

[Service]
User=%i
Nice=19
IOSchedulingClass=idle
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=true
SystemCallArchitectures=native
Environment = \
   TRANSMISSION_HOME=%h \
   TSOCKS_CONFFILE=%h/.config/tsocks.conf
ExecStart=/usr/bin/tsocks /usr/bin/transmission-daemon -g %h/.config/transmission-daemon -f
ExecStop=/usr/bin/transmission-remote --exit

[Install]
WantedBy=multi-user.target
