[Unit]
Description=Watch Xscreensaver
IgnoreOnIsolate=yes

[Service]
User=ex
ExecStart=/usr/bin/xscreensaver-command -watch
Restart=always
RestartSec=0
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=true
SystemCallArchitectures=native
