/.bash_history
/.cache/fontconfig/
/.cache/mesa_shader_cache/
/.config/pulse/cookie
/.config/pulse/*-runtime
/.config/tmpdir
/.dbus/session-bus/
/.fvwm/errorlog
/.local/share/xorg/Xorg.*.log
/.local/share/xorg/Xorg.*.log.old
/.parallel/tmp/
/.tig_history
