/.bash_history
/.cache/fontconfig/
/.config/pulse/cookie
/.config/pulse/*-runtime
/.config/tmpdir
/.dbus/session-bus/
/.fvwm/errorlog
/.local/share/xorg/Xorg.0.log
/.local/share/xorg/Xorg.0.log.old
/.parallel/tmp/
/.tig_history
